<form method="POST" action="/">
    <label>Title</label>
    <input type="text" id="title" name="title"> <br><br>

    <label>Description</label>
    <textarea id="description" name="description"></textarea>

    <input type="submit" value="Add book">
</form>